/*
Custom Css
*/

.form-control {
    position: relative;
    display: inline-block;
}

.form-control select {
    padding-right: 30px; /* Espacio para el icono */
}

.form-control i {
    position: absolute;
    right: 5px; /* Ajusta la posición del icono a tu gusto */
    top: 50%; /* Lo coloca verticalmente en el centro */
    transform: translateY(-50%);
}

.boton-eliminar {
    /* padding: 1rem; */
    font-weight: bold;
    color: white;
    background-color: crimson;
    text-align: center;
    padding: .25rem;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}